<div class="row">
  <div class="col-md-3 text-center">
    <%= image_tag avatar_url(@other), class: "imag-circle avatar-medium"%><br>
    <strong><%= @other.fullname %></strong>
    <%= link_to "View Profile", @other, class: "btn btn-default wide"%>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Conversation with <%= @other.fullname %>
      </div>
      <div class="panel-body">
        <div class="container">

          <%= form_for [@conversation, @conversation.messages.new] do |f| %>
            <div class="form-group">
              <%= f.text_area :content, id: 'new_message', placeholder: "Add a personal message", class: "form-control" %>
            </div>
            <%= f.hidden_field :user_id, value: current_user.id %>

            <div class="actions">
              <%= f.submit "Send Message", class: "btn btn-primary", autocomplete:"off"%>
            </div>
          <% end %>

        </div>
      </div>
    </div>

    <div id="chat">
      <%= render 'messages' %>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(function() {
    $('[data-disable-with]').removeAttr('data-disable-with')
    $('form').submit(function(e){
      e.preventDefault();

      var values = $(this).serialize();
      var posting = $.post(this.action, values);

      posting.done(function(data) {
        console.log(data);
        var newMsg = new Message(data)
        $('textarea').val('')
        $('#chat').first().prepend(newMsg.formatHTML())
      })
    })
  })


  function Message(data) {
    if(data.user.image){
      this.image = data.user.image
    }else {
      this.image = "https://www.gravatar.com/avatar/" + data.user.email + ".jpg?d=identicon&s=150"
      //user email not formated for gravatar url properly need to use the helper method somehow
    }
    this.userId = data.user.id
    this.fullname = data.user.fullname
    this.created_at = data.created_at
    this.content = data.content
  }

  Message.prototype.formatHTML = function() {
    var formattedHTML = ""
    formattedHTML += '<div class="panel">'
    formattedHTML +=   '<div class="panel-body">'
    formattedHTML +=      '<img src="'+ this.image + '"' + ' class="img-circle avatar-small">'
    formattedHTML +=          '<strong>' + this.fullname + '</strong>'
    formattedHTML +=            '<span class="pull-right">' + this.created_at + '</span>'
    formattedHTML +=           '<br>'
    formattedHTML +=           '<div class="row-space-2">' + this.content + '</div></div></div>'
    return formattedHTML
  }


</script>
