<hr>
<div class="well">
  <p style="color: grey;">
    Posted <%= time_ago_in_words(comment.created_at)%> ago |
    <%= link_to user_path(comment.user) do %>
      <%= image_tag avatar_url(comment.user), class: 'img-circle avatar-small' %>&nbsp;
      <strong><%= comment.user.fullname %> says:</strong>
    <% end %>
  </p>
  <p style="color: black;">
    <%= h(comment.content) %>
  </p>
  <% if current_user != nil && current_user.id == comment.user_id %>
    <%= link_to "Delete", bike_comment_url(@bike, comment.id), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</div>
