<div class="row">
  <div class="col-md-3">
    <div class="center">
      <%= image_tag avatar_url(@user), class: "avatar-full" %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Verification
      </div>
      <div class="panel-body">
        <%= @user.email %> <br>
        Phone Number <br>
        <% if current_user != @user %>
          <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h2><%= @user.fullname %></h2>


    <h4>Bike Listings (<%= @bikes.length %>)</h4><br>
    <div class="row">
      <% @bikes.each do |bike| %>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading preview">
            <% if bike.photo.blank? %>
              <img src="http://res.cloudinary.com/lq0vmwmms/image/upload/v1486000461/mario-bike_tax1wa.jpg" class="img-responsive panel-img">
            <% else %>
              <%= image_tag bike.photo.bike_listing.url, class:"img-responsive panel-img" %>
            <% end %>
            </div>
            <div class="panel-body">
              <%= link_to bike.company, bike %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
