<div class="panel panel-default">
  <div class="panel-heading text-center">
    Detail your bike!
  </div>

  <div class="panel-body">
    <div class="container">
      <%= form_for @bike, html: {multipart: true} do |f| %>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Company</label>
              <%= f.text_field :company, placeholder: "Name of company", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Model</label>
              <%= f.text_field :model, placeholder: "Bike model", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Year</label>
              <%= f.text_field :year, placeholder: "Year of manufacture", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Month</label>
              <%= f.text_field :month, placeholder: "Month of manufacture", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Serial Number 1</label>
              <%= f.text_field :serial_number_1, placeholder: "Serial number", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Serial Number 2</label>
              <%= f.text_field :serial_number_2, placeholder: "Serial number", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Rim Size</label>
              <%= f.text_field :rim_size, placeholder: "Size", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Bike Type</label>
              <%= f.text_field :bike_type, placeholder: "Type", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Metal</label>
              <%= f.text_field :metal, placeholder: "Metal", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Color</label>
              <%= f.text_field :color, placeholder: "Color", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Top Tube</label>
              <%= f.text_field :top_tube, placeholder: "Top tube", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Head Tube</label>
              <%= f.text_field :head_tube, placeholder: "Head tube", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label>Serial Number Location</label>
            <%= f.text_field :serial_number_location, placeholder: "Serial Number Location", class: "form-control" %>
          </div>
        </div>
<hr>
        <div class="row">
          <div class="row">
            <h4 class="text-center">Add some tags!</h4><br>
          </div>

          <div class="row">
            <%= f.fields_for :all_tags do |tag| %>
              <div class="col-md-3">
                <div class="form-group">
                  <%= tag.text_field :name1, placeholder: "fast..", class: "form-control" %>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <%= tag.text_field :name2, placeholder: "fun..", class: "form-control" %>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <%= tag.text_field :name3, placeholder: "new..", class: "form-control" %>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <%= tag.text_field :name4, placeholder: "clasic..", class: "form-control" %>
                </div>
              </div>
            <% end %>
          </div>

        </div>
<hr>
        <div class="row">
            <h4 class="text-center">Add a photo!</h4><br>
          <div class="form-group">
            <%= f.file_field :photo %>
          </div>
        </div>

<hr>
        <div class="actions">
          <%= f.submit "Save", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
        <div class="actions">
          <%= link_to "Cancle", bikes_path, class: "btn btn-default btn-block" %>
        </div>
    </div>
  </div>

</div>
