<div class="page-header">
  <h1 class="bikes-index-header"><b>Check out all of Jeff's awesome bikes!</b></h1>
  <%= paginate @bikes %>
</div><br>

<table class="table table-hover ">
  <tbody>
    <% @bikes.each do |bike| %>
        <tr>
          <%= link_to(bike) do%>
          <th>
            <% if bike.photo.blank? %>
              <th scope="row"><%= image_tag "http://res.cloudinary.com/lq0vmwmms/image/upload/v1486000461/mario-bike_tax1wa.jpg", style: "width:100px;height:100px;" %></th>
            <% else %>
              <th scope="row"><%= image_tag bike.photo.thumb.url %></th>
            <% end %>
          </th>
          <td><%= bike.year %></td>
          <td><%= bike.company%></td>
          <td><%= bike.id %></td>
          <td>Uploaded by: <br><%= bike.user.fullname %></td>
          <% end %>
        </tr>

    <% end %>
  </tbody>
</table>
