<div class="page-header">
  <h1 class="bikes-index-header"><b>Check out all of Jeff's awesome bikes!</b></h1>
  <%= paginate @bikes %>
</div><br>
<% if @bikes.length > 0 %>
<table class="table table-hover ">
  <tbody>
    <% @bikes.each do |bike| %>
        <tr>
          <th>
            <% if bike.photo.blank? %>
              <th scope="row">
                <%= link_to bike_path(bike) do %>
                  <%= image_tag "http://res.cloudinary.com/lq0vmwmms/image/upload/v1486000461/mario-bike_tax1wa.jpg", style: "width:100px;height:100px;" %>
                <% end %>
              </th>
            <% else %>
              <th scope="row">
                <%= link_to bike_path(bike) do %>
                  <%= image_tag bike.photo.thumb.url %>
                <% end %>
              </th>
            <% end %>
          </th>
          <td><%= bike.year %></td>
          <td><%= link_to "#{bike.company}", bike_path(bike) %></td>
          <td><%= bike.id %></td>
          <td>Uploaded by: <br><%= link_to "#{bike.user.fullname}", user_path(bike.user) %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h2>Sorry, there are no bikes with that discription..</h2>

<% end %>
