<div class="container" style="background-color:white;">
  <% if @photo.blank? %>
    <div class="bike-show-img-div">
      <%= image_tag "http://res.cloudinary.com/lq0vmwmms/image/upload/v1486000461/mario-bike_tax1wa.jpg", class:"img-fluid center-block" %>
    </div>
  <% else %>
    <div class="bike-show-img-div">
      <%= image_tag @photo.bike_show.url, class:"img-fluid center-block img-responsive" %>
    </div>
  <% end %>

<br>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Comments">Comments</a></li>
    <li><a data-toggle="tab" href="#Stats">Stats</a></li>
    <div class="pull-right">
      <%= raw tag_links @bike.all_tags %> <!--tag_links from bikes_helper -->
        <% if current_user && @bike.user_id == current_user.id %>
          <%= link_to 'Edit', edit_bike_path(@bike), class:"btn btn-primary" %>
          <%= link_to 'Delete', @bike, method: :delete, date: { confirm: "Are you sure?"}, class:"btn btn-primary btn-small" %>
        <% end %>
    </div>

  </ul>

  <div class="tab-content">

    <div id="Comments" class="tab-pane active">
      <h3>Comments</h3>
      <%= render '/comments/comment_form' %>
      <br>
      <%= render :partial => @bike.comments %>
    </div>

    <div id="Stats" class="tab-pane fade in">
      <div class="col-md-12">
          <h3>Stats</h3><hr>
          <span class="pull-right">Uploaded: <%= @bike.created_at.strftime("%B %d, %Y")%></span>
        <div class="row">
            <div class="col-md-6">
              <b>Company: </b><%= @bike.company.titlecase %><br>
              <b>Year: </b> <%= @bike.year %><br>
              <b>Month: </b> <%= @bike.month.titlecase %><br>
              <b>Serial Number 1: </b> <%= @bike.serial_number_1 %><br>
              <b>Serial Number 2: </b> <%= @bike.serial_number_2 %><br>
              <b>Model: </b> <%= @bike.model.titlecase %><br>
              <b>Rim Size: </b> <%= @bike.rim_size %><br>
              <b>Bike Type: </b> <%= @bike.bike_type %><br>
              <b>Metal: </b> <%= @bike.bike_type %><br>
              <b>Top Tube: </b> <%= @bike.top_tube %><br>
              <b>Head Tube: </b> <%= @bike.head_tube %><br>
              <b>Color: </b> <%= @bike.color.titlecase %><br>
              <b>Serial Number Location: </b><%= @bike.serial_number_location %>
            </div>

            <div class="col-md-6 other-user-bikes-list">
              <div class="list-group">
                <%= link_to "More Bike's from - #{@bike.user.fullname}",  user_path(@bike.user), class:"list-group-item active more-bikes-dropdown"%>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $(".more-bikes-dropdown").on('click', function(e) {
      e.preventDefault()

      let bikeList = $.getJSON(this.href)
    });
  });
</script>
