
<!DOCTYPE html>
<html>
  <head>
    <title>Jeff Bikes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.7.0/js/md5.min.js"></script>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
